.product-show {
    height: 300px;
    width: 200px;
    border: 1px solid brown;

    
}
.product-show button{
    margin-top: 100px;
}
.ProductItem {
    display: inline-block;
    margin: 5px;
}
.CartItem {
    display: inline-block;
    margin: 5px;
}